@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="https://docs.microsoft.com/aspnet/core">BOOKSTORE00</a>.</p>
</div>


<P>Hacer una historia de las librerías es casi imposible. No sólo por la
    antigüedad, sino también porque su actividad apenas se ha ido documentando
    y depende mucho de las circunstancias. Sin embargo son motivo de orgullo en
    cualquier rincón del mundo desde Los Ángeles a Tokio, pasando por Madrid,
    Zhen Yuan o Buenos Aires.

    De acuerdo, son un negocio, pero por encima de todo las librerías son un
    espacio de libertad, una puerta de acceso al conocimiento y una ventana al
    mundo que le da color y lo hace mucho más interesante. Un lugar donde la
    literatura se hace material y visible: a diferencia de la biblioteca es un
    espacio dedicado a la belleza. La biblioteca clasifica, ordena y conserva,
    mientras que la librería seduce, muestra y acerca el libro a todos.</P>