@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat,
    praesentium deleniti! Rem quasi reprehenderit eum ab obcaecati sapiente
    ipsam temporibus
    distinctio eos! Perspiciatis quidem voluptatem tenetur repellendus quis
    voluptatum excepturi!</p>
